*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
    font-size: 1em;
}

body a{
    color: white;
}

.lien_index{
    position: absolute;
    padding: 20px;
}

.case1{
    display: block;
    position: absolute;
    padding: 20px;
    border: 2px solid;
    border-radius: 50px;
    border-color: blueviolet;
    top: 150px;
    left: 100px;
    width: 600px;
}

.case2{
    display: block;
    position: absolute;
    padding: 20px;
    border: 2px solid;
    border-radius: 50px;
    border-color: blueviolet;
    top: 350px;
    right: 100px;
    width: 600px;
}

.case3{
    display: block;
    position: absolute;
    padding: 20px;
    border: 2px solid;
    border-radius: 50px;
    border-color: blueviolet;
    top: 550px;
    left: 100px;
    width: 600px;
}

.titre_case{
    font-size: 1.5em;
    font-weight: 400;
    margin-bottom: 10px;
}

.texte_case{
    font-size: 1em;
    font-weight:200;
}