 
  .background-image{
    position: relative;
    height: 60dvh;
    background-color: #1f20206b;
    background-image: url(https://nhsbtdbe.blob.core.windows.net/umbraco-assets-corp/25124/blood-g4e28dcb97_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .filtre{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3px);
  }