* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(image/landscape.jpg);
    background-size: cover;

}

.navbar{

    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;

}

.navbar a{
    color: white;
}

.navbar a:hover{
    text-shadow: 0 0 5px;
}

.navbar .logo{
    font-size: 2em;
    font-weight: bold;
}

.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 25px;
}



.navbar .menu{
    display: none;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 35px;
}





@media screen and (max-width:900px) {
    .navbar .menu{
        display: block;
    }

    .navbar .logo{
        position: absolute;
        top: 40px;
        left: 50px;
    }
    .nav-links{
        top: 0;
        left: 0;
        position: absolute;
        background-color: rgba(211, 211, 211, 0.178);
        backdrop-filter: blur(3px);
        width : 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: -100%;
        transition: all 0.5s ease;
    }

    .mobile-menu{
        margin-left: 0;
    }

    .nav-links ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar .nav-links ul li{
        margin: 30px 0;
        font-size: 1.3em;
    }

    .navbar .menu {
        /* remplir l'espace */
        display: flex;
        /* mettre en colonne */
        flex-direction: column;
        /* séparer de 8px */
        gap: 12px;
        cursor: pointer;
    }
    
    .navbar .menu .line {
        width: 40px;
        height: 2px;
        background-color: white;
        transform-origin: left;
        transition:transform 0.5s ease, opacity 0.2s ease;
    }
    
    .navbar .menu.open .middle_line{
        opacity: 0;
    }
    .navbar .menu.open .top_line{
        transform: rotate(45deg);
    }
    
    .navbar .menu.open .bottom_line{
        transform: rotate(-45deg);
    }
}