*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 2000px;
}
.background{
    width: 100dvw;
    height: 30dvh;
    box-shadow: black 0px 0px 5px;
    justify-content: right;
}

.index a{
    position: relative;
    top: 25px;
    left: 25px;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.4s cubic-bezier(0.23,1.83,0.42,1.19);

    
}

.index a:hover{
    font-size: 1.5em;
}



.background-image{
    position: relative;
    justify-content: right;
    width: 100%;
    height: 100%;
    background-color: black;

    

}


.background-titre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 5em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}


.zone-sommaire{
    position: relative;
    margin-top: 50px;
    height: calc(100%);
    background-image: white;
}

.zone-sommaire .cadre-sommaire{
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    left: 50%;
    transform: translate(-50%,0);
    width: 1500px;
    height: calc(100%);
    border: black 2px solid;
    background: white;
    border-radius: 10px;

}

.titre-sommaire{
    position: relative;
    top: 30px;
    margin: 10px;
    font-size: 4em;
}

.titre-sommaire p{
    position: absolute;
    margin-right: 0;
    transform: translate(-50%,0);
    left: 50%;
    justify-content: center;
}

.texte-sommaire{
    padding: 10px;
    margin-top: 150px;
    background-color: rgba(128, 128, 128, 0.11);
    position: absolute;
    left: 150px;
    right: 150px;
}

.texte-sommaire h2{
    text-decoration: underline;
    font-size: 2em;
    margin-bottom: 10px;
    margin-top: 20px;
}

.texte-sommaire h3{
    text-decoration: underline;
    cursor: pointer;
    font-size: 1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
}
/* Pour h4 */
.zone-h4{
    height: 0px;
    transition: all 0.5s ease;
}

.zone-h4.afficher{
    height: calc(100% / 1);
    transition: all 0.5s ease;
    
}

.texte-sommaire h4.titre-h4{
    opacity: 0;
    display: hidden;
    left: -50px;
    transition: 0.5s ease-in-out, height 1s ease-in-out;
    position: relative;
    left: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: black;
}

.texte-sommaire h4.titre-h4.afficher{
    height: auto;
    display:block;
    transition:  0.5s ease-in-out, height 1s ease-in-out;
    opacity: 1;
    left: 50px;
}



/* Pour h5 */

.zone-h5{
    height: 0px;
    transition: all 0.5s ease;
}

.zone-h5.afficher{
    height: calc(100% / 1);
    transition: all 0.5s ease;
    
}

.texte-sommaire h5.titre-h5{
    opacity: 0;
    display: hidden;
    left: -50px;
    transition: 0.5s ease-in-out, height 1s ease-in-out;
    position: relative;
    left: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: black;
}

.texte-sommaire h5.titre-h5.afficher{
    height: auto;
    display:block;
    transition:  0.5s ease-in-out, height 1s ease-in-out;
    opacity: 1;
    left: 150px;
}

.texte-sommaire h5.titre-h5{
    opacity: 0;
    display: hidden;
    left: -50px;
    transition: 0.5s ease-in-out, height 1s ease-in-out;
    position: relative;
    left: 15px;
    margin-bottom: 10px;
    font-size: 1em;
    color: black(1, 16, 129);
}

.texte-sommaire p{
    position: relative;
    left: 15px;
    margin-bottom: 10px;
    font-size: 1.2em;
}


.commentaire{
    margin-top: 10px;
    list-style: inherit;
    list-style: circle;
    position: relative;
    padding: 30px;
    background-color: antiquewhite;
    width: 50%;
    left: 50%;
    transform: translate(-50%,0);
}


@media screen and (max-width:700px) {

    .background{
        height: 25dvh;
        width: 100%;

    }

    .background-titre{
        display: flex;
        text-align: center;
        font-size: 2.5em;
        width: auto;
        
    }

    .zone-sommaire .cadre-sommaire{
        width: 99%;
        height: 1750px;
        padding: 10px;
    }
    
    .titre-sommaire{
        font-size: 2em;
    }

    .titre-sommaire p{
        top: 0px;
        position: absolute;
    }

    .texte-sommaire{
        margin-top: 100px;
        left: 2.5%;
        width: 95%;

    }

    .texte-sommaire h2{
        font-size:1.3em ;
    }
    
    .texte-sommaire h3{
        font-size:1.2em ;
    }

    .texte-sommaire h4.titre-h4.afficher {
        font-size:1.1em ;
        left: 20px;
        width: 300px;
    }

    .texte-sommaire h5.titre-h5.afficher{
        font-size:1em ;
        left: 35px;
        width: 300px;
    }

    .texte-sommaire p{
        font-size:1em ;
        left: 2px;
    }

    

    

}