*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  body, html, header, h1{
      margin: 0px;
      padding: 0px;
  }
  
  html{
    scroll-behavior: smooth;
  }
  
  body{
    background-color: white;
  }
  
  
  /* header */
  .bar-superieur{
    position: fixed;
    width: 100dvw;
    height: 100px;
    background-color: #00669900;
    color: white;
    font-family: Abhaya Libre, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    
  }
  
  .fondb{
    background-color: #00558b;
    transition: background-color 0.5s ease;
    box-shadow: 0 0 10px black;
  }
  
  .bar-superieur .logo{
    position: absolute;
    width: auto;
    top: 50%;
    left: 35px;
    transform: translate(0,-50%);
  }
  
  .logo-fac{
    height: 75px;
  }
  
  .nav-bar{
    position: absolute;
    display: flex;
    right: 100px;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 1.3em;
    width: 40%;
    justify-content: space-between;
  
  }
  
  .bar-superieur a{
    color: white;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px 20px;
  }
  
  .bar-superieur a:hover{
    color: black;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: white;
    transition: all 0.6s ease;
  }
  
  .bar-superieur.fondb a:hover{
    color: #006699;
    font-weight: bold;
    border: 2px solid white;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: white;
    transition: all 0.4s ease;
  }
  

  
  .background-texte{
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(0,-50%);
    color: white;
    text-shadow: 0px 0px 10px black;
  }
  
  .background-texte h1{
    position: relative;
    font-size: 3em;
    margin-bottom: 50px;
  }
  
  .background-texte{
    font-size: 2em;
  }
  
  /* fin header */



  .SectionB{
    width: 100%;
    height: auto;
    position: relative;
}

.zone-texte{
    position: absolute;
    left: 5%;
    right: 5%;
    font-family: Abhaya Libre, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    top: 20px;
}

/* Sommaire */
.zone-texte .zone_sommaire{
  display: block;
  position: absolute;
  right: 0px;
  width: 20%;
}

.zone-texte .zone_sommaire .sommaire{
  display: block;
  position: sticky;
  height: 450px;
  width: 100%;
  top: 200px;
  box-shadow: black 0 0 5px;
  
}

.zone-texte .zone_sommaire .sommaire a:hover{
  font-size: larger;
  color: #006699;
}


.zone-texte .zone_sommaire .sommaire .plan-sommaire{
  position: relative;
  height: 100%;
  width: 100%;

}

.zone-h3{
  position: relative;
  top: 0.5%;
  left: 0.5%;
  width: 99%;
  height: 40px;
  font-size: 1.3em;
  background-color: #006699;
}

.zone-texte .zone_sommaire .sommaire .plan-sommaire .zone-h3 h3{
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
  color: white;
  padding: 0;
  text-shadow: black 0 0 1px;


}

.zone-texte .zone_sommaire .sommaire .plan-sommaire .zone-liste ul{
  position: relative;
  text-align: left;
  left: 3px;
  list-style: none;
  
}

.zone-texte .zone_sommaire .sommaire a{
  display: block;
  color: black;

}

.ancres {scroll-margin-top: 200px;}

.zone-texte .zone_sommaire .sommaire li{
  margin: 15px 0;
}

.zone-texte .zone_sommaire .sommaire ul{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 20px;
  left: 50px;
  justify-content: center;
}
/* Fin sommaire */

.texte{
  position: absolute;
  left: 5%;
  right: 25%;
}

.zone-texte h1{
  display: flex;
  font-size: 3.5em;
  margin-bottom: 20px;
  justify-content: center;
  box-shadow: black 0 0 5px;
  margin-top: 25px;
}


.zone-texte h2{
  text-align: left;
  color: #00558b;
  padding-bottom: calc(0.26042vw + 6px);
  padding-top: calc(0.26042vw + 6px);
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.8em;
}
.zone-texte h3{
    text-align: left;
    color: orange;
    padding-bottom: calc(0.26042vw + 6px);
    padding-top: calc(0.26042vw + 6px);
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: 1.6em;
    padding-bottom: 4px;
}

.zone-texte h4{
    color: #006699;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    text-align: left;
    font-size: 1.3em;
}
.zone-texte h5{
    color: black;
    margin-bottom: 0px;
    font-size: 1.1em;
    text-decoration: underline;
}

.zone-texte p{
    position: relative;
    padding-top: 0px;
    padding-bottom: 5px;
    font-size: 1.1em;
}

.SectionB .zone-texte li{
margin-bottom: 2px;
position: relative;
left: 30px;
width: 95%;
font-size: 1.1em;
}


.SectionB .zone-texte .image-cache img {
 visibility: hidden;
 

 
}
.SectionB .zone-texte .image-cache.image-visible{
  width: auto;
  height: auto;
}
.SectionB .zone-texte .image-cache.image-visible img {
  visibility: initial;
  display: flex;
  height: auto;
  width: auto;
 
  animation: grossir 1s ;
  
}



/* keyframes grossir */
@keyframes grossir {
  0% {
    transform: scale(0); /* taille initiale */
  }
  100% {
    transform: scale(1); /* taille agrandie */
  }
}
/* Center l'image avec de bonne proportion */
.SectionB .zone-texte img{ 
  display: block;
  margin-left: auto;
  margin-right: auto;
    max-height: 500px;
    max-width: 100%;
}



u{
  text-decoration: underline;
}

/* LES SPANS */
span.rectangle1.span-visible{
  left: 10px;
  transform-origin: left;
  transition: left 0.7s cubic-bezier(0.1,0.9,0.2,1), opacity 0.2s ease;
}

span.rectangle2.span-visible{
  left: 10px;
  transform-origin: left;
  transition: left 0.7s cubic-bezier(0.1,0.9,0.2,1), opacity 0.2s ease;
}

span.rectangle1{
  background-color: #006699;
  box-shadow:  #006699 36px 0px 0px, rgba(0, 0, 0, 0.25) 37px 1px 0px;
  direction: left;
  margin-left: -10000px;
  padding-left: 10000px;
  position: relative;
  font-size: calc(1.36719vw + 1.5em);
  margin-top: 0px;
    outline: none;
    overflow-wrap: break-word;
    color: rgb(255, 255, 255);
    font-stretch: condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 1.989;
    margin-bottom: 10px;

  left: -100%;
  }

  span.rectangle2{
    background-color: orange;
    box-shadow:  orange 36px 0px 0px, rgba(0, 0, 0, 0.25) 37px 1px 0px;
    direction: left;
    margin-left: -10000px;
    padding-left: 10000px;
    position: relative;
    font-size: calc(1.36719vw + 0.9em);
    margin-top: 0px;
      outline: none;
      overflow-wrap: break-word;
      color: rgb(255, 255, 255);
      font-stretch: condensed;
      font-style: normal;
      font-weight: 400;
      line-height: 1.989;
      margin-bottom: 0px;
  
    left: -100%;
    }

  
@media screen and (max-width : 900px) {



  .texte{
    position: absolute;
    left: 0%;
    right: 0%;
  }

  .zone-texte .zone_sommaire{
    display: none;
    position: absolute;
    right: 0px;
    width: 20%;
  }

     .bar-superieur .logo{
        position: absolute;
        top: 5px;
        left: 50%;
        font-size: 1.5em;
        transform: translate(-50%,0);
        height: 100px;
    }

    .logo-fac{
        height: 42px;
    }
    .bar-superieur-contenu{
        position: relative;
        height: 100%;
        width: 100dvw;
    }
    .nav-bar{
        position: absolute;
        display: flex;
        left: 0;
        width: 100dvw;     
        top: 70%;
        padding: 10px;
        font-size: 1em;
        justify-content: space-between;    
    }

    .background-image{
      position: relative;
      height: 60dvh;
      width: 100dvw;
      background-color: #1f20206b;
      
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    
    .bar-superieur a{
        color: white;
        border: 2px solid white;
        border-radius: 100px;
        padding: 5px 10px;
    }
    
    .bar-superieur a:hover{
        color: #006699;
        font-weight: bold;
        border: 2px solid white;
        border-radius: 100px;
        padding: 5px 5px;
        background-color: white;
        transition: all 0.3s ease;
    }

    .background-image h1{
        font-size: 1.5em;
        width: auto;
    }


    .background-texte p{
        font-size: 0.6em;
        text-decoration: underline;
    }
    
    .SectionB{
        width: 100%;
        height: auto;
        position: relative;
    }
    
    
    .background-texte h1{
      position: relative;
      font-size: 1.5em;
      margin-bottom: 50px;
    }
    

    
    /* fin header */
  
    .SectionB{
      width: 100%;
      height: auto;
      position: relative;
  }
  
  .zone-texte{
      position: absolute;
      left: 15%;
      right: 15%;
      font-family: Abhaya Libre, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-align: justify;
      top: 20px;
  }
  
  .zone-texte h1{
    display: flex;
  
    font-size: 2.5em;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  
  .zone-texte h2{
    text-align: left;
    color: #00558b;
    padding-bottom: calc(0.26042vw + 6px);
    padding-top: calc(0.26042vw + 6px);
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.8em;
  }
  .zone-texte h3{
      text-align: left;
      color: orange;
      padding-bottom: calc(0.26042vw + 6px);
      padding-top: calc(0.26042vw + 6px);
      margin-bottom: 10px;
      margin-top: 10px;
      font-size: 1.6em;
  }
  
  .zone-texte h4{
      color: #006699;
      display: flex;
      justify-content: center;
      margin-bottom: 10px;
      text-align: left;
      font-size: 1.3em;
  }
  .zone-texte h5{
      color: #006699;
      margin-bottom: 0px;
      font-size: 1.1em;
      text-decoration: underline;
  }
  
  
  .zone-texte p{
      position: relative;
      padding-top: 0px;
      padding-bottom: 10px;
      font-size: 0.9em;
  }

    .SectionB .zone-texte li{
      margin-bottom: 2px;
      position: relative;
      left: 10px;
      width: 95%;
      font-size: 0.9em;
      text-align: left;
      }
    
    .SectionB .zone-texte img{
        position: relative;
        left: 50%;
        transform: translate(-50%,0);
        width: 100%;
        height: auto;
    }


    
    /* LES SPANS */
span.rectangle1.span-visible{
  left: 10px;
  transform-origin: left;
  transition: left 0.7s cubic-bezier(0.1,0.9,0.2,1), opacity 0.2s ease;
}

span.rectangle2.span-visible{
  left: 10px;
  transform-origin: left;
  transition: left 0.7s cubic-bezier(0.1,0.9,0.2,1), opacity 0.2s ease;
}

span.rectangle1{
  background-color: #006699;
  box-shadow:  #006699 36px 0px 0px, rgba(0, 0, 0, 0.25) 37px 1px 0px;
  direction: left;
  margin-left: -10000px;
  padding-left: 10000px;
  position: relative;
  font-size: calc(1.36719vw + 1em);
  margin-top: 0px;
    outline: none;
    overflow-wrap: break-word;
    color: rgb(255, 255, 255);
    font-stretch: condensed;
    font-style: normal;
    font-weight: 400;
    line-height: 1.989;
    margin-bottom: 10px;

  left: -150%;
  }

  span.rectangle2{
    background-color: orange;
    box-shadow:  orange 36px 0px 0px, rgba(0, 0, 0, 0.25) 37px 1px 0px;
    direction: left;
    margin-left: -10000px;
    padding-left: 10000px;
    position: relative;
    font-size: calc(1.36719vw + 0.8em);
    margin-top: 0px;
      outline: none;
      overflow-wrap: break-word;
      color: rgb(255, 255, 255);
      font-stretch: condensed;
      font-style: normal;
      font-weight: 400;
      line-height: 1.989;
      margin-bottom: 0px;
  
    left: -150%;
    }
    

}









