 
  .background-image{
    position: relative;
    height: 60dvh;
    background-color: #1f20206b;
    background-image: url(https://coolwallpapers.me/picsup/6000696-haze-summer-evening-forest-sunbeams-morning-road-nature-beauty-path-trees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .filtre{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(0px);
  }