*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-image: linear-gradient(90deg, rgb(255, 85, 85), blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    /* remplir l'espace */
    display: flex;
    /* mettre en colonne */
    flex-direction: column;
    /* séparer de 8px */
    gap: 8px;
    cursor: pointer;
}

.menu .line {
    width: 28px;
    height: 2px;
    background-color: white;
    transform-origin: left;
    transition:transform 0.5s ease, opacity 0.2s ease;
}

.menu.open .middle_line{
    opacity: 0;
}
.menu.open .top_line{
    transform: rotate(45deg);
}

.menu.open .bottom_line{
    transform: rotate(-45deg);
}
