*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: Abhaya Libre, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    height: 100px;
    width: 100%;
    background-color: #006699;
}

.navbar{
    position: absolute;
    padding : 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar a{
    color: white;
}

.navbar .logo{
    font-size: 3em;
    font-weight: 500;
}



.navbar .nav-links ul{
    display: flex;
}

.navbar .nav-links ul li{
    margin: 0 50px ;
    font-size: 1.5em;
    font-weight: 500;
}

.background{
    position: relative;
    height: 80dvh;
    width: 100%;
}

.background .background_image{
    position: relative;
    left: 55%;
    height: 80dvh;
}

.background .background_text{
    display: block;
    position: absolute;
    font-size: 3em;
    bottom: 50%;
    left: 10%;
}

.bar_inferieur{
    position: relative;
    bottom: 60px;
    height: 100px;
    width: 100dwh;
    background-color: #006699;
}

.contenu-bar_inferieur{
    position: absolute;
    left: 200px;
    right: 200px;
    top: 20px;
    height: 100%;
    justify-content: space-between; 
    display: flex;
}

.bar_inferieur a{
    position: relative;
    color: white;
    font-size: 2em;   

}

.zone-script{
    position: relative;
    height: 2864px;
    width: 100dw;
    padding: 50px;
    
}

.zone-script .texte_script {
    display: flex;
    position: absolute;
    border: 1px;
    border-color: black;
    text-align: justify;
    width: 60%;
    left: 100px;
}


.zone-script .zone_sommaire{
    display: block;
    position: absolute;
    right: 100px;
    width: 20%;
    height: 2864px;
}

.zone-script .zone_sommaire .sommaire{
    display: block;
    position: sticky;
    height: 450px;
    width: 300px;
    top: 100px;
    border: 3px solid;
    border-color: #006699;
    
}

.zone-script .zone_sommaire .sommaire a:hover{
    font-size: larger;
    color: #006699;
}


.zone-script .zone_sommaire .sommaire .plan-sommaire{
    position: relative;
    height: 100%;
    width: 100%;

}

.zone-h3{
    position: relative;
    height: 40px;
    font-size: 1.3em;
    margin: 3px;
    background-color: #70badf;
}

.zone-script .zone_sommaire .sommaire .plan-sommaire .zone-h3 h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.zone-script .zone_sommaire .sommaire .plan-sommaire .zone-texte{
    position: relative;
    text-align: left;
    left: 3px;
    list-style: none;
}

.zone-script .zone_sommaire .sommaire a{
    display: block;
    color: black;

}

.zone-script .zone_sommaire .sommaire li{
    margin: 15px 0;
}

.zone-script .zone_sommaire .sommaire ul{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    left: 50px;
    justify-content: center;
}


.zone-script .texte-script{
    position: absolute;
    width: 60%;
    height: auto;

}

.texte-script h1{
    margin-bottom: 5px;
    margin-top: 10px;
}

.texte-script h2{
    margin-bottom: 5px;
    margin-top: 10px;
}

.texte-script h3{
    margin-bottom: 5px;
    margin-top: 10px;
}
.texte-script li{
    position: relative;
    margin: 5px;
    left: 5%;
    list-style:circle;
}

.texte-script .script{
    width: 100%;
    padding: 10px;
    background-color: rgba(211, 211, 211, 0.4);
}

.img-script{
    position: relative;
    height: auto;
    width: 500px;
    left: 200px;
    margin: 15px
}

.petit-img-script{
    position: relative;
    height: auto;
    margin-top: 20px;
    width: 200px;
    left: 300px;
    margin: 15px 
}

@media screen and (max-width:1400px) {
    .background{
        position: relative;
        height: 80dvh;
        width: 100%;
    }
    
    .background .background_image{
        position: relative;
        height: 600px;
        left: 55%;
        bottom: 50px;
        z-index: -1;
    }

    .background .background_text{
        display: block;
        position: absolute;
        font-size: 3em;
        bottom: 50%;
        left: 5%;
    }
}