 
  .background-image{
    position: relative;
    height: 60dvh;
    background-color: #1f20206b;
    background-image: url(https://www.rts.ch/2022/01/12/09/53/12781929.image?w=640&h=360);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .filtre{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(3 px);
  }