 
  .background-image{
    position: relative;
    height: 60dvh;
    background-color: #1f20206b;
    background-image: url(https://cdn.britannica.com/07/192107-050-CE043374/anatomy-charts-human-body-muscle-systems-skeletal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: none;
  }

  .filtre{
    height: 100%;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(1px);
  }

  .zone-texte .zone_sommaire{
    height: 2717px;

    
  }